<h1> Home </h1>
<form method="POST" action="./" >
    <select name="redirect" >
        <option value="room_timetable">Room timetables</option>
        <option value="availability">Check availability</option>
        <option value="book_room">Book room</option>
        <option value="add_room">Add room</option>
        <option value="room_list">Room list</option>
        <option value="test_mode">Test Mode</option>
        <option value="error_handling">Error handling</option>
    </select>
    <input type="submit" name="submit" value="Submit">
</form>


